%h1
  %i{class: 'fa fa-exclamation-circle'}
  = "Found #{@files.count} file#{'s' unless @files.count==1} in the root folder"

%h3
  %i{class: 'fa fa-exclamation-circle'}
  = @message

- unless session[:userinfo]
  .signin-button
    .row
      .col-md-4
      .col-md-4
        %a{:onclick => 'signin()', :class => "btn btn-primary btn-lg btn-login btn-block"}
          Sign In
      .col-md-4

:javascript
  var lock = new Auth0Lock('VaSfetcgp9KQew7ylcvxmv0EEkJcmXcd', 'platform-demo-sinatra-template.auth0.com');
  
  function signin() {
    lock.show({
        callbackURL: '#{ENV["AUTH0_CALLBACK"]}', 
        responseType: 'code', 
        authParams: {scope: 'openid profile'}
    });
  }